[submodule "metric-cerberus"]
	path = metric-cerberus
	url = https://github.com/jsr38/metric-cerberus.git
[submodule "scad-library-jsr"]
	path = scad-library-jsr
	url = https://github.com/jsr38/scad-library-jsr.git
